@import "tailwindcss";

@theme {
	--font-sans:
		"Merriweather", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-merriweather-sans:
		"Merriweather Sans", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--color-dark-blue-50: #f6f7f9;
	--color-dark-blue-100: #ebedf3;
	--color-dark-blue-200: #d3d7e4;
	--color-dark-blue-300: #acb5cd;
	--color-dark-blue-400: #7f8eb1;
	--color-dark-blue-500: #5f6f98;
	--color-dark-blue-600: #4b597e;
	--color-dark-blue-700: #3e4866;
	--color-dark-blue-800: #363e56;
	--color-dark-blue-900: #32384c;
	--color-dark-blue-950: #202331;
}

html,
body {
	@apply bg-white;

	background-image: url("assets/leftBlob.svg"), url("assets/rightBlob.svg");
	background-size: 100% 100%;
	background-position:
		left -175px bottom,
		right -500px bottom;
	background-repeat: no-repeat;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}
